.section-header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header img {
    width: 140px;
}

.section-header span {
    padding: 6px;
    font-size: 14px;
    border: 1px solid var(--text-muted);
    border-radius: 18px;
}

@media screen and (min-width:768px){
    .section-header img {
        width: 180px;
    }

    .section-header span {
        padding: 6px;
        font-size: 16px;
        border: 1px solid var(--text-muted);
        border-radius: 18px;
    }
}